<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Who Wants to be a Millionaire!</title>
</head>
<body>
    <h2>Welcome, <strong>{{ player }}</strong>!</h2>
</body>
</html>